Fuente: Movimientos de tarjeta de crédito BCP

Formato: Excel

Granularidad: Transacción diaria

Observación: No se dispone de hora exacta de compra

In [2]:
import pandas as pd

In [10]:
df = pd.read_excel("../data/raw/VisaOroBCPQore.xlsx")
df.head()

        Fecha                              Descripcion Moneda  Monto
0  2025-12-27  E S SHENANDOA             SANTIAGO DE S     S/  -50.0
1  2025-12-19  VM*LUISA               LIMA          PE     S/  -79.8
2  2025-12-19  OXXO NORTE             LIMA          PE     S/  -14.2
3  2025-12-19                         UNIV000072355492     S/ -756.0
4  2025-12-18  LUANA MARKET           LIMA          PE     S/   -2.2

In [11]:
df.shape

(53, 4)

In [12]:
df.columns

Index(['Fecha', 'Descripcion', 'Moneda', 'Monto'], dtype='object')

In [13]:
df.dtypes

Fecha           object
Descripcion     object
Moneda          object
Monto          float64
dtype: object

In [14]:
df.isna().sum()

Fecha          0
Descripcion    0
Moneda         0
Monto          0
dtype: int64

In [15]:
df["Descripcion"].head(5)

0    E S SHENANDOA             SANTIAGO DE S
1    VM*LUISA               LIMA          PE
2    OXXO NORTE             LIMA          PE
3                           UNIV000072355492
4    LUANA MARKET           LIMA          PE
Name: Descripcion, dtype: object

In [16]:
df["Monto"].describe()

count      53.000000
mean      -29.685283
std       615.682750
min     -1299.000000
25%       -93.700000
50%       -31.900000
75%        -7.900000
max      3918.180000
Name: Monto, dtype: float64

El dataset presenta una estructura simple y sin valores nulos.

La columna fecha requiere conversión a formato datetime.

Los montos negativos representan consumos, mientras que los positivos corresponden a pagos o ajustes y serán 
tratados por separado.

La descripción del comercio requiere normalización para análisis posterior.