In [1]:
import pandas as pd

In [2]:
df = pd.read_excel("../data/raw/VisaOroBCPQore.xlsx")

In [3]:
df["Fecha"] = pd.to_datetime(df["Fecha"])

In [7]:
df["Descripcion"] = (
    df["Descripcion"]
    .str.strip()
    .str.upper()
    .str.replace(r"\s+", " ", regex=True)
)

In [10]:
df["tipo_movimiento"] = df["Monto"].apply(
    lambda x: "GASTO" if x < 0 else "PAGO"
)
df["monto_abs"] = df["Monto"].abs()

In [11]:
df["anio"] = df["Fecha"].dt.year
df["mes"] = df["Fecha"].dt.month
df["dia"] = df["Fecha"].dt.day
df["dia_semana"] = df["Fecha"].dt.day_name()

In [12]:
df.head(5)

,Fecha,Descripcion,Moneda,Monto,tipo_movimiento,monto_abs,anio,mes,dia,dia_semana
0,2025-12-27,E S SHENANDOA SANTIAGO DE S,S/,-50.0,GASTO,50.0,2025,12,27,Saturday
1,2025-12-19,VM*LUISA LIMA PE,S/,-79.8,GASTO,79.8,2025,12,19,Friday
2,2025-12-19,OXXO NORTE LIMA PE,S/,-14.2,GASTO,14.2,2025,12,19,Friday
3,2025-12-19,UNIV000072355492,S/,-756.0,GASTO,756.0,2025,12,19,Friday
4,2025-12-18,LUANA MARKET LIMA PE,S/,-2.2,GASTO,2.2,2025,12,18,Thursday