In [2]:
import pandas as pd

In [18]:
df = pd.read_excel("../data/raw/VisaOroBCPQore.xlsx")
df.sample(10)

         Fecha                              Descripcion Moneda    Monto
27  2025-10-16                         TELE000918028402     S/  -124.90
38  2025-09-13  LISTO CAYETANO LA MOLI LIMA          PE     S/   -12.90
28  2025-10-10  APPARKA APS FULL JOCKE LIMA          PE     S/    -4.90
11  2025-12-03  APPARKA APS FULL JOCKE LIMA          PE     S/    -7.90
1   2025-12-19  VM*LUISA               LIMA          PE     S/   -79.80
37  2025-09-16  APPARKA APS CLINICA RI LIMA          PE     S/    -8.00
22  2025-10-31                        PAGO BCA INTERNET     S/   380.65
48  2025-08-19  RECIBO CAC LARCO       LIMA          PE     S/ -1230.00
36  2025-09-16  IZI*LA ROCCA SAC       LIMA          PE     S/   -54.00
32  2025-10-03                         TELE000987326224     S/   -31.90

In [ ]:
df["Fecha"] = pd.to_datetime(df["Fecha"])
df["Descripcion"] = (
    df["Descripcion"]
    .str.strip()
    .str.upper()
    .str.replace(r"\s+", " ", regex=True)
)
df["tipo_movimiento"] = df["Monto"].apply(lambda x: "GASTO" if x < 0 else "PAGO")
df["monto_abs"] = df["Monto"].abs()

gastos = df[df["tipo_movimiento"] == "GASTO"]

In [21]:
gastos.sample(10)

,Fecha,Descripcion,Moneda,Monto,tipo_movimiento,monto_abs,categoria
12,2025-12-03,SB - 002 JOCKEY PLAZA LIMA PE,S/,-60.00,GASTO,60.00,OTROS
39,2025-09-10,CLAR000994651921,S/,-10.00,GASTO,10.00,OTROS
25,2025-10-24,T6150 JOCKEY PLAZA PAT LIMA PE,S/,-35.80,GASTO,35.80,OTROS
46,2025-08-19,ESTELAR MIRAFLORES LIMA PE,S/,-152.00,GASTO,152.00,OTROS
40,2025-09-09,EDS SAN LUIS LIMA PE,S/,-100.00,GASTO,100.00,OTROS
2,2025-12-19,OXXO NORTE LIMA PE,S/,-14.20,GASTO,14.20,TIENDA
19,2025-11-05,DUFF BREWERY K01302389 ORLANDO FL,$,-5.86,GASTO,5.86,OTROS
21,2025-11-01,MEARS CONNECT ORLANDO FL,$,-35.20,GASTO,35.20,OTROS
4,2025-12-18,LUANA MARKET LIMA PE,S/,-2.20,GASTO,2.20,SUPERMERCADO
48,2025-08-19,RECIBO CAC LARCO LIMA PE,S/,-1230.00,GASTO,1230.00,OTROS

In [30]:
resumen = (
    gastos
    .groupby("Descripcion", as_index=False)["Monto"]
    .sum()
    .sort_values("Monto")
)

In [31]:
resumen

                             Descripcion    Monto
10             FALABELLA ANGAMOS LIMA PE -1299.00
23              RECIBO CAC LARCO LIMA PE -1230.00
36                      UNIV000072355492  -756.00
24             RESTAURANTE MOCHE LIMA PE  -442.00
7                 ESTACION BAHIA LIMA PE  -223.01
2                   BOTICAS PERU LIMA PE  -221.02
11            FARMACIA UNIVERSAL LIMA PE  -188.54
9             ESTELAR MIRAFLORES LIMA PE  -152.00
30             TAI LOY SAN BORJA LIMA PE  -146.72
33                      TELE000918028402  -124.90
32                      TELE000871387721  -100.01
27         SERVICENTRO SMILE SA. LIMA PE  -100.00
6                   EDS SAN LUIS LIMA PE  -100.00
18                 NORKYS CANADA LIMA PE   -93.70
37                      VM*LUISA LIMA PE   -79.80
14        KFC 114 RP SALAVERRY K LIMA PE   -77.90
28        T6150 JOCKEY PLAZA PAT LIMA PE   -76.60
34                      TELE000987326224   -63.80
26         SB - 002 JOCKEY PLAZA LIMA PE   -60.00
13              IZI*LA ROCCA SAC LIMA PE   -54.00
8         ESTACION CENTRAL PLAYA LIMA PE   -50.00
19                      OCORIS 2 LIMA PE   -50.00
5            E S SHENANDOA SANTIAGO DE S   -50.00
12                IZI*DON BURGER LIMA PE   -45.00
35                      TELE000995431040   -39.90
1         APPARKA APS FULL JOCKE LIMA PE   -35.40
17              MEARS CONNECT ORLANDO FL   -35.20
22        PH - 014 JOCKEY FOOD C LIMA PE   -32.90
0         APPARKA APS CLINICA RI LIMA PE   -32.00
29        T6169 PLAZA VEA JOCKEY LIMA PE   -29.90
25         ROB OASIS 01200781 ORLANDO FL   -21.29
38  WDW GERMANYBIERLINE LAKE BUENA VI FL   -18.64
31             TAMBO MENDIOLA-C5 LIMA PE   -18.30
21                    OXXO NORTE LIMA PE   -14.20
15        LISTO CAYETANO LA MOLI LIMA PE   -12.90
3                       CLAR000994651921   -10.00
20                 OXXO ALTAMIRA LIMA PE    -6.90
4      DUFF BREWERY K01302389 ORLANDO FL    -5.86
16                  LUANA MARKET LIMA PE    -2.20

In [6]:
cat = pd.read_csv("../data/references/categorias_comercios.csv")

In [8]:
def asignar_categoria(descripcion):
    for _, row in cat.iterrows():
        if row["patron"] in descripcion:
            return row["categoria"]
    return "OTROS"

In [9]:
gastos["categoria"] = gastos["Descripcion"].apply(asignar_categoria)

C:\Users\kikea\AppData\Local\Temp\ipykernel_35476\2892978322.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gastos["categoria"] = gastos["Descripcion"].apply(asignar_categoria)

In [10]:
gastos[["Descripcion", "categoria"]].head(10)

                       Descripcion     categoria
0      E S SHENANDOA SANTIAGO DE S         OTROS
1                 VM*LUISA LIMA PE        COMIDA
2               OXXO NORTE LIMA PE        TIENDA
3                 UNIV000072355492     EDUCACION
4             LUANA MARKET LIMA PE  SUPERMERCADO
5       FARMACIA UNIVERSAL LIMA PE     EDUCACION
6                 TELE000995431040         OTROS
9   KFC 114 RP SALAVERRY K LIMA PE         OTROS
10  APPARKA APS FULL JOCKE LIMA PE         OTROS
11  APPARKA APS FULL JOCKE LIMA PE         OTROS

In [11]:
gastos.groupby("categoria")["monto_abs"] \
      .sum() \
      .sort_values(ascending=False)

categoria
OTROS           5051.95
EDUCACION        944.54
COMIDA            79.80
TIENDA            21.10
SUPERMERCADO       2.20
Name: monto_abs, dtype: float64

In [15]:
df.sample(10)

,Fecha,Descripcion,Moneda,Monto,tipo_movimiento,monto_abs
8,2025-12-05,PAGO BANCA MOVIL,$,80.99,PAGO,80.99
21,2025-11-01,MEARS CONNECT ORLANDO FL,$,-35.20,GASTO,35.20
18,2025-11-05,ROB OASIS 01200781 ORLANDO FL,$,-21.29,GASTO,21.29
41,2025-09-07,TELE000987326224,S/,-31.90,GASTO,31.90
1,2025-12-19,VM*LUISA LIMA PE,S/,-79.80,GASTO,79.80
15,2025-11-22,PH - 014 JOCKEY FOOD C LIMA PE,S/,-32.90,GASTO,32.90
13,2025-11-22,APPARKA APS FULL JOCKE LIMA PE,S/,-7.90,GASTO,7.90
22,2025-10-31,PAGO BCA INTERNET,S/,380.65,PAGO,380.65
49,2025-08-14,PAGO BANCA MOVIL,S/,114.79,PAGO,114.79
24,2025-10-24,APPARKA APS FULL JOCKE LIMA PE,S/,-4.90,GASTO,4.90

In [22]:
gastos.groupby("Descripcion")